#directory
**/.idea/**
**/.expo/**
**/.next/**
**/.vercel/**
**/.pnp/**
**/.vscode/**
**/.vs/**
**/.nacos/**
**/.rabbitmq/**
**/node_modules/**
**/target/**
**/out/**
**/build/**
**/log/**
**/repo/**
**/lib/**

#file
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
*.bin
*.tab
*.at
*.len
.DS_Store
*.pem
*.iss
*.yml
*.xml
*.properties
*.cmd